<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21" style="background-color:#FFFFFF;">
    <ion-content padding="true" style="top:0px !important;" class="side-menu-left menuBackground">
      <h4 id="betaApp-heading10" style="color:#555975;" class="betapp-menu-header">My It's so easy</h4>
      <ion-list id="betaApp-list1">
        <ion-item class="item-icon-left positive menu-side-items" id="betaApp-list-item1" ui-sref="betaApp.home()" menu-close="">
          <i class="icon ion-android-home"></i>Home</ion-item>
        <ion-item class="item-icon-left positive menu-side-items" id="betaApp-list-item2" ui-sref="betaApp.news()" menu-close="">
          <i class="icon ion-android-star"></i>News</ion-item>
        <ion-item class="item-icon-left positive menu-side-items" id="betaApp-list-item3" ui-sref="betaApp.modulistica()" menu-close="">
          <i class="icon ion-android-document"></i>Modulistica</ion-item>
        <ion-item class="item-icon-left positive menu-side-items" id="betaApp-list-item4" ui-sref="betaApp.dizionarioDeiRifiuti()" menu-close="">
          <i class="icon ion-android-compass"></i>Dizionario dei rifiuti</ion-item>
        <ion-item class="item-icon-left positive menu-side-items" id="betaApp-list-item6" ui-sref="betaApp.lEspertoRisponde()" menu-close="">
          <i class="icon ion-android-contact"></i>L'esperto risponde</ion-item>
        <ion-item class="item-icon-left positive menu-side-items" id="betaApp-list-item5" ui-sref="betaApp.richiestaDiPreventivo()" menu-close="">
          <i class="icon ion-social-euro"></i>Richiesta di preventivo</ion-item>
        <ion-item class="item-icon-left assertive menu-side-items" id="betaApp-list-item7" ui-sref="betaApp.myCalendar({})" menu-close="">
          <i class="icon ion-android-calendar"></i>Calendario dei ritiri</ion-item>
        <ion-item class="item-icon-left positive menu-side-items" id="betaApp-list-item8" ui-sref="betaApp.ilGruppoBeta()" menu-close="">
          <i class="icon ion-information-circled"></i>Il Gruppo Beta</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>