<ion-view title="Dizionario dei rifiuti" id="page16" class="beta-content">
  <ion-content padding="true" class="has-header">
    <h1 id="dizionarioDeiRifiuti2-heading25" style="color:#000000;" class="thesaurus-title">{{voice.title}}</h1>
    <h4 id="dizionarioDeiRifiuti2-heading26" style="color:#E2BF32;">{{voice.cer}}</h4>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <a ui-sref="betaApp.myCalendar({&quot;codiceCer&quot;:&quot;&quot;+voice.cer+&quot;&quot;})" id="dizionarioDeiRifiuti2-button21" style="border-radius:-6px -6px -6px -6px;" class="button button-assertive button-outline icon-left ion-android-cart">Fai una richiesta di ritiro</a>
  </ion-content>
</ion-view>