<ion-view title="Il Gruppo Beta" id="page11">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 0px;"></div>
    <h3 id="ilGruppoBeta-heading1" style="color:#416579;">Il Gruppo Beta è una holding industriale </h3>
    <div id="ilGruppoBeta-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Specializzata nella costruzione di opere civili e industriali, nello smaltimento e nella gestione dei rifiuti e nell’erogazione di servizi alle imprese.</p>
    </div>
    <div>
      <img src="img/bKeI3Y9LScy3xjl54VHF_amb_2-600x600.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <div id="ilGruppoBeta-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Il Gruppo Beta è composto da tre divisioni: Beta Costruzioni, Beta Ambiente e Beta Servizi.</p>
    </div>
    <h4 id="ilGruppoBeta-heading2" style="color:#000000;">Beta Ambiente </h4>
    <div id="ilGruppoBeta-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Beta Ambiente s.r.l è il ramo gestione ambientale del Gruppo Beta. Beta Ambiente è specializzata nella gestione dei rifiuti e si occupa delle varie fasi che intercorrono dalla raccolta al trasporto e allo smaltimento in impianto, supportando il
        cliente sia nella fase documentale che in quella di autorizzazione. L’azienda è orientata alla sostenibilità, per questo propone soluzioni incentrate sull’avvio a recupero che possano limitare al massimo le operazioni di smaltimento e il deposito
        in discarica. Beta Ambiente è una realtà che ha assunto il ruolo di interlocutore privilegiato per ogni situazione nel campo ambientale, anche nel campo della consulenza in tema di emissioni, scarichi e gestione rifiuti. L’azienda ha come missione
        il consolidamento e l’aumento della propria presenza in ambito ambientale, allocando i rifiuti speciali generati dalle attività produttive con il minor impatto ambientale possibile e nel modo economicamente più efficiente. </p>
    </div>
    <h4 id="ilGruppoBeta-heading3" style="color:#000000;">Beta Costruzioni</h4>
    <div id="ilGruppoBeta-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Beta Costruzioni s.r.l è stata la prima incarnazione del Gruppo Beta, nata nel 2004 dall’esperienza di oltre quarant’anni di attività della famiglia Bomba nel campo edilizio. L’azienda, da sempre orientata alla qualità e alla soddisfazione totale
        di ogni cliente, ha come attività principale la costruzione di nuovi edifici, il restauro e la riqualificazione di complessi residenziali. Beta Costruzioni è in grado di garantire l’autonoma totale nell’esecuzione dei lavori e nella prestazione
        dei servizi grazie ad un ampio parco macchine e attrezzature specializzate, tra cui non mancano macchine per scavi e movimenti terra, gruppi elettrogeni, gru mobili e da cantiere. Grazie ad uno staff altamente qualificato ed esperto, alla naturale
        propensione al miglioramento continuo e alla capacità di prevedere e risolvere ogni tipo di criticità, Beta Costruzioni è in grado di garantire il massimo per le seguenti tipologie di intervento:</p>

      <ul>
        <li>Costruzioni civili e industriali </li>
        <li>Costruzioni impianti sportivi </li>
        <li>Recupero e riqualificazione di fabbricati civili e industriali </li>
        <li>Realizzazione di opere pubbliche </li>
        <li>Manutenzione </li>
        <li>Coperture industriali </li>
      </ul>
    </div>
    <h4 id="ilGruppoBeta-heading4" style="color:#000000;">Beta Servizi</h4>
    <div id="ilGruppoBeta-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Il Gruppo Beta supporta i propri clienti in tutte le fasi dei processi aziendali garantendo l’efficientamento dei processi e la sicurezza degli stessi. Per quanto riguarda il Ramo ambientale. Il Gruppo Beta supporta ogni cliente in ogni problematica
        del ramo ambientale, dagli aspetti burocratici e autorizzativi a quelli prettamente operativi, senza dimenticare il puntuale monitoraggio degli aspetti legislativi di riferimento. Partendo da un check-up iniziale e dalla pianificazione di tutte
        le possibili strategie di miglioramento, Beta Servizi si occupa anche del nuovo sistema di controllo della tracciabilità dei rifiuti (SISTRI) in attesa di applicazione. L’azienda può inoltre dare incarichi di responsabile tecnico ambientale e
        nominare consulenti ADR.</p>

      <p style="color:#000000;">Il Gruppo offre servizi di consulenza tecnica ai suoi clienti, sia direttamente che in partnership con Beta Royal srl, società di consulting del Gruppo Beta. Beta Royal usufruisce di tecnici competenti per ogni esigenza e fornisce ad aziende e organizzazioni
        una serie di servizi integrati in materia di ambiente, sicurezza, lavoro e qualità. Ramo sicurezza.</p>

      <p style="color:#000000;">Il Gruppo offre consulenza mirata e completa anche nel campo della sicurezza nei luoghi di lavoro (D-LGS 81/08 e smi), assicurando il pieno rispetto delle norme vigenti in materia. L’azienda si occupa inoltre di redigere la documentazione necessaria
        al rispetto del testo unico. Su richiesta del cliente è possibile effettuare la nomina del RSPP.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 21px;"></div>
    <a href-inappbrowser="http://www.gruppobeta.it" id="ilGruppoBeta-button17" class="button button-positive button-block button-outline"> www.gruppobeta.it</a>
    <div class="spacer" style="width: 300px; height: 21px;"></div>
  </ion-content>
</ion-view>