<ion-view title="L'esperto risponde" id="page8">
  <ion-content padding="true" class="has-header">
    <ion-list id="lEspertoRisponde-list22">
      <ion-item class="item-thumbnail-left dark beta-page-intro" id="lEspertoRisponde-list-item49">
        <img src="img/OtKTWaWGSFqJWfmZfvVY_emoticon-with-happy-face.png">
        <h2dark>Hai bisogno di aiuto?
          <p style="white-space:normal;">Siamo a tua disposizione. Compila il form e un nostro esperto ti risponderà a breve.</p>
        </h2dark>
      </ion-item>
    </ion-list>
    <form id="lEspertoRisponde-form8" class="list">
      <label class="item item-input item-stacked-label" id="lEspertoRisponde-input2">
        <span class="input-label">Nome e cognome</span>
        <input type="text" placeholder="" ng-model="data.name">
      </label>
      <label class="item item-input item-stacked-label" id="lEspertoRisponde-input3" name="email">
        <span class="input-label">Indirizzo email</span>
        <input type="text" placeholder="" ng-model="data.email">
      </label>
      <label class="item item-input item-stacked-label" id="lEspertoRisponde-input14">
        <span class="input-label">Domanda</span>
        <input type="text" placeholder="" ng-model="data.description">
      </label>
      <div class="spacer" style="width: 300px; height: 11.9886px;"></div>
      <div>
        <img id="beta-questions-uploaded-image" src="{{imgUri}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" ng-model="data.picture">
      </div>
      <button id="lEspertoRisponde-button10" ng-click="takePicture()" class="button button-stable button-block button-outline icon ion-android-camera"></button>
      <button id="lEspertoRisponde-button16" ng-click="registerData()" ng-disable="submitting" class="button button-positive button-block icon ion-android-upload"> Invia richiesta</button>
    </form>
  </ion-content>
</ion-view>