<ion-view title="Modulistica" id="page15" style="background-color:#FFFFFF;" class="beta-content">
  <ion-content padding="true" class="has-header">
    <h1 id="modulistica2-heading12" style="color:#000000;">{{paperwork.title}}</h1>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div ng-bind-html="paperwork.content"></div>
    <button id="modulistica2-button9" ng-click="downloadFile()" class="button button-energized button-block button-clear beta-button-round">Download</button>
    <div class="spacer" style="width: 300px; height: 49px;"></div>
  </ion-content>
</ion-view>